@charset "utf-8";

	* {

	margin:0 0 0 0;

	padding:0;

}

body,button,input,select,textarea {

	font-size:12px;

	font-family:arial,微软雅黑;

}

:focus {

	outline:0;

}

img {

	border:0;

}

ul,li {

	list-style:none;

}

div,ul,li,dl,dt,dd,table,td,input {

	font-size:12px;

}

input,select,textarea {

	-webkit-tap-highlight-color:rgba(0,0,0,0);

	-webkit-appearance:none;

	border:0;

	border-radius:0;

}

.clearfix:after {

	content:".";

	display:block;

	height:0;

	clear:both;

	visibility:hidden;

}

.clearfix {

	display:inline-block;

}

* html .clearfix {

	height:1%;

}

.clearfix {

	display:block;

}

.clear {

	clear:both;

}

.hidden {

	display:none;

}

.blank5 {

	line-height:0;

	font-size:1px;

	height:5px;

	clear:both;

}

.blank10 {

	line-height:0;

	font-size:1px;

	height:10px;

	clear:both;

}

ins {

	text-decoration:none;

	font-size:12px;

	font-family:arial;

}

em {

	font-style:normal;

}

.arial {

	font-family:Arial;

}

.F14 {

	font-size:14px;

}

.F16 {

	font-size:16px;

}

a {

	color:#000;

	text-decoration:none;

	outline:medium none;

}

a:hover {

	color:#C00;

}

.orange {

	color:#D80000;

}

.red {

	color:#f00;

}

.c9 {

	color:#090909;

}

a.blue,.blue {

	color:#D80000;

}

a.gray6,.gray6 {

	color:#666;

}

a.grayc,.grayc {

	color:#090909;

}

a.gray9,.gray9 {

	color:#090909;

}

a.green,.green {

	color:#08a600;

}

.fl {

	float:left;

}

.fr {

	float:right;

}

.Fb {

	font-weight:bold;

}

.z-user {

	margin:0 5px;

}

.mt10 {

	margin-top:10px;

}

.z-mlr {

	margin:0 3px;

}

h1,h2,h3,h4,b {

	font-weight:normal;

}

.m-round {

	border:1px solid #DCDCDC;

	border-radius:5px;

	background:#fff;

	box-shadow:1px 1px 1px #e7e7e7;

}

.z-arrow {

	width:6px;

	height:6px;

	display:inline-block;

	border:solid #BBB;

	-webkit-transform:rotate(45deg);

	font-size:0;

	line-height:0;

}

.z-Member,.z-shop,.z-HReturn s,.z-sort,.z-sort i,.z-Home,.z-Site,.u-nav,.z-arrowh,.head li a.pCar {

	background:url(../../images/mobile/mainIcon.png);

	background-size:80px auto;

}

.Prompt s,.goodsList .goodsListR a.add s,.registerCon em,.haveNot s,.z-del,.g-pay-bline,.z-pay-mentsel,.z-pay-tips s,.z-pay-tips i,.z-Transaction s,.z-Transaction i,.pCountdown s,.pCountdown em,.z-limit-tips {

	background:url(../../images/mobile/setIcon.png);

	background-size:80px auto;

}

.u-Btn {

	color:#fff;

	text-align:center;

	font-size:14px;

	display:box;

	display:-webkit-box;

	display:-moz-box;

}

.u-Btn .u-Btn-li {

	font-size:18px;

	-webkit-box-flex:1;

	-moz-box-flex:1;

	box-flex:1;

	text-align:center;

}

a.z-CloseBtn,a.z-DefineBtn,a.z-ShoppingBtn,a.z-cartBtn {

	line-height:44px;

	text-align:center;

	display:block;

	border-radius:3px;

}

.u-Btn a.z-CloseBtn {

	color:#D80000;

	font-size:14px;

	line-height:33px;

	border:1px solid #DDD;

	margin-right:10px;

	background:#fff;

	box-shadow:1px 1px 1px #F3F3F3;

}

.u-Btn a.z-DefineBtn {

	color:#fff;

	font-size:14px;

	line-height:33px;

	border:1px solid #FE6D0B;

	box-shadow:0 1px 2px #E7E7E7;

	background:#D80000;

}

.u-Btn a.z-ShoppingBtn {

	border:1px solid #D80000;

	font-size:14px;

	line-height:33px;

	margin-right:10px;

	box-shadow:0 1px 1px #E7E7E7;

	background:#FF6500;

	color:#fff;

}

.u-Btn a.z-cartBtn {

	color:#fff;

	font-size:14px;

	line-height:33px;

	border:1px solid #FEA700;

	box-shadow:0 1px 2px #E7E7E7;

	background:#FFB321;

}

.grayBtn,.orgBtn {

	display:block;

	width:100%;

	-webkit-box-sizing:border-box;

	height:43px;

	line-height:43px;

	text-align:center;

	color:#fff!important;

	border-radius:50px;

	font-size:18px;

}

a.orgBtn {

	background:#D80000;

	border:1px solid #D80000;

}

a.grayBtn {

	background:#090909;

	border:1px solid #090909;

}

.g-snav {

	width:100%;

	display:box;

	display:-webkit-box;

	display:-moz-box;

}

.g-snav .g-snav-lst {

	-webkit-box-flex:1;

	-moz-box-flex:1;

	box-flex:1;

}

.u-nav {

	height:42px;

	margin:0 auto;

	background-position:0 -245px;

	background-repeat:repeat-x;

	background-color:#fff;

}

.u-nav .g-snav-lst {

	padding-top:8px;

	height:35px;

	overflow:hidden;

	display:block;

	text-align:center;

	font-size:14px;

}

.u-nav .g-snav-lst a {

	color:#666;

	display:block;

	margin:0 5px;

	height:25px;

	line-height:26px;

	overflow:hidden;

}

.u-nav .g-snav-lst a.nav-crt {

	background:#D80000;

	color:#fff;

	border-radius:15px;

	padding:0 10px 0 10px;

	margin-bottom:2px;

	box-shadow:1px 1px 1px #00538E inset;

	overflow:hidden;

}

.u-nav .z-arrowh {

	width:12px;

	height:16px;

	background-position:0 -150px;

	display:inline-block;

	margin-top:2px;

}

.m_listNav {

	border-bottom:1px solid #D0D0D0;

}

.m_listNav .g-snav-lst {

	text-align:center;

	height:33px;

	line-height:33px;

	position:relative;

}

.m_listNav .g-snav-lst a {

	display:block;

	margin:0 5px;

}

.m_listNav .g-snav-lst b {

	height:15px;

	width:1px;

	position:absolute;

	top:10px;

	right:0;

	overflow:hidden;

	background:#DDD;

}

.m_listNav .z-sgl-crt a {

	color:#D80000;

	height:32px;

	line-height:33px;

	display:block;

	border-bottom:2px solid #D80000;

}

.z-bank-Round {

	width:16px;

	height:16px;

	border:1px solid #bbb;

	background:#fff;

	border-radius:16px;

	display:inline-block;

	margin-right:8px;

	box-shadow:0 1px 1px #090909 inset;

}

.z-bank-Roundsel {

	width:16px;

	height:16px;

	line-height:20px;

	border:1px solid #090909;

	background:#F6F5F5;

	border-radius:16px;

	display:inline-block;

	text-align:center;

	margin-right:8px;

}

.z-bank-Roundsel s {

	width:12px;

	height:12px;

	border-radius:12px;

	display:inline-block;

	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ff8a00),color-stop(1,#D80000));

}

.header {

	height:50px;
	background:#fff;
	border-bottom:3px solid #d80000;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    position:relative;
	z-index:99999;
}

.header h1 {

	width:55px;

	height:33px;

	margin:1px 0 0 9px;

	display:inline;

	background:url();

	background-size:55px auto;

}

.header h1 a {

	width:155px;

	height:50px;

	display:inline-block;

}

.header h1 a img {

	width:155px;

	height:45px;

	display:inline-block;

}

.header span {

	display:none;

}

.header .u-slogan {

	width:86px;

	height:13px;

	margin:27px 0 0 9px;

	/*background:url(../../images/1yyg-slogan.png);*/

	background-size:86px auto;

}

.header .head-r {

	margin:6px 6px 0 0;

}

.z-Home,.z-Member,.z-shop,a.z-Site ,.z-shop1{

background-color:#fff;

width:32px;

height:32px;

/* border:1px solid #D80000; */

border-radius:80px;

/* display:inline-block; */
}





#user-z-sign {

	width: 48px;

	height: 32px;

	border: 1px solid #de4900;

	border-radius: 5px;

	box-shadow: 1px 1px 1px #ff8533 inset;

	display: inline-block;

	background: url(../../images/mobile/signwap.png) no-repeat;

	background-position: center;

}



.z-Member {

	background-position:0 0;

}

.z-shop {

	background-position:0 -35px;

	position:relative;

	text-align:center;

}

.z-shop em {

	display:inline-block;

	border-radius:50px;

	background:#FF0000;

	border:0px solid #fff;

	padding:0 3px 0 3px;

	position:absolute;

	top:-28px;

	right:-3px;

	color:#D80000;

	font-family:Arial;

	font-size:6px;

	color:#fff;

	font-weight:bold;

	box-shadow:0 0px 0px #DE4900;

}

.z-shop1 {

	background-position:0 -35px;

	position:relative;

	text-align:center;

}

.z-shop1 em {

	display:inline-block;

	border-radius:50px;

	background:#FF0000;

	border:0px solid #fff;

	padding:0 3px 0 3px;

	position:absolute;

	top:-28px;

	right:-3px;

	color:#D80000;

	font-family:Arial;

	font-size:6px;

	color:#fff;

	font-weight:bold;

	box-shadow:0 0px 0px #DE4900;

}

.z-Home {

	background-position:4px -74px;

	position:relative;

	text-align:center;

}

a.z-sort {

	height:32px;

	padding:0 25px 0 10px;

	text-align:center;

	display:inline-block;

	position:relative;

	line-height:32px;

	color:#D80000;

	background:#fff;
    border:1px solid #dcdcdc;
	border-radius:50px;
	overflow:hidden;

}

a.z-RCornerBtn {

	height:24px;

	padding:0 10px 0 10px;

	text-align:center;

	display:inline-block;

	position:relative;

	line-height:24px;

	color:#D80000;
border:1px solid #d80000;
	background:#FFF;
    border-radius:50px;
	overflow:hidden;

}

a.z-Site {

	display:inline-block;

	background-position:8px -317px;

}

.z-sort i,.z-RCornerBtn i {

	width:0px;

	height:34px;

	display:inline-block;

	background-position:0 -110px;

	background-color:#D80000;

	position:absolute;

	left:0;

	top:0;

}

.z-Sswt,.z-Sswd {

	position:absolute;

	right:9px;

	height:0;

	border:5px transparent solid;

	display:inline-block;

}

.z-Sswt {

	border-bottom-color:#FEFEFF;

	top:5px;

}

.z-Sswd {

	border-top-color:#FFA567;

	top:18px;

}

.z-SswOn,.z-SswNt {

	position:absolute;

	right:9px;

	height:0;

	border:5px transparent solid;

	display:inline-block;

}

.z-SswOn {

	border-bottom-color:#FFA567;

	top:5px;

}

.z-SswNt {

	border-top-color:#FEFEFF;

	top:18px;

}

.g-header {

	height:44px;

	background:#fff;

	border-bottom:2px solid #d80000;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
	position:relative;
	z-index:99999;
}

.g-header h2 {

	text-align:center;

	color:#D80000;

	line-height:44px;

	text-shadow:1px 1px 0 #fff;

}

.g-header .head-l,.g-header .head-r {

	position:absolute;

	top:7px;

}

.g-header .head-l {

	left:3px;

}

.z-HReturn {

	height:24px;

	line-height:24px;

	padding-left:15px;

	display:inline-block;

	position:relative;
}

.z-HReturn b {

	display:inline-block;

	background:#fff;
border:1px solid #d80000;
	padding:0 15px 0 15px;

	color:#D80000;
	border-radius:50px

}

.z-HReturn s {

	width:15px;

	height:33px;

	background-position:0 -162px;

	display:inline-block;

	position:absolute;

	left:0;

	top:0;

	overflow:hidden;

}

.g-header .head-r {

	right:6px;

}

.footer {

	text-align:center;

	position:relative;

	padding-bottom:20px;

}

.footer .z-top {

	width:40px;

	height:40px;

	display:inline-block;

	position:fixed;

	right:5px;

	bottom:7px;

	background:rgba(0,0,0,0.2);

	border-radius:3px;

}

.footer .z-top .z-arrow {

	width:10px;

	height:10px;

	margin-top:17px;

	margin-right:1px;

	margin-left:2px;

	border-color:#fff;

	border-width:2px 0 0 2px;

}

.footer a {

	color:#090909;

}

.footer .m-ftA {

	padding-top:5px;

}

.footer .m-ftA a {

	padding:8px 15px;

	display:inline-block;

}

.footer p.grayc span {

	margin-left:3px;

	margin-right:8px;

}

.footer .u-ft-nav {

	width:100%;

	border-top:1px solid #ddd;

	border-bottom:1px solid #ddd;

	margin:0 auto;

	background:#fafafa;

	display:box;

	display:-webkit-box;

	display:-moz-box;

}

.footer .u-ft-nav span {

	height:30px;

	line-height:30px;

	-webkit-box-flex:1;

	-moz-box-flex:1;

	box-flex:1;

	display:block;

	position:relative;

}

.footer .u-ft-nav span b {

	height:30px;

	width:1px;

	position:absolute;

	top:0;

	right:0;

	overflow:hidden;

	background:#DDD;

}

.footer .u-ft-nav span a {

	display:block;

}

.footer .u-ft-nav span a.Exit {

	display:inline-block;

	color:#D80000;

	margin-left:8px;

}

.footer .u-ft-nav span a.Member {

	display:inline-block;

	color:#D80000;

}

.Progress-bar:after {

	content:"\0020";

	display:block;

	height:0;

	clear:both;

}

.Progress-bar {

	zoom:1;

}

.u-progress {

	height:5px;

	background:#e7e7e7;

	position:relative;

	border-radius:3px;

	box-shadow:inset 0 1px 1px rgba(0,0,0,0.1);

	overflow:hidden;

}

.u-progress .pgbar,.u-progress .pging {

	display:block;

	width:100%;

	height:100%;

	border-radius:3px;

}

.u-progress .pging {

	background:#f60;

}

.Progress-bar .Pro-bar-li li {

	float:left;

	color:#646464;

	font-size:10px;

	font-family:宋体;

	border:none;

	margin:0;

	padding:0;

	box-shadow:none;

	border-radius:none;

}

.Progress-bar .Pro-bar-li li em {

	display:block;

	font-size:10px;

	font-family:arial;

	height:14px;

	padding:3px 0 0 0;

	font-style:normal;

}

.Progress-bar .Pro-bar-li li.P-bar01 em {

	color:#f60

}

.Progress-bar .Pro-bar-li li.P-bar02 em {

	color:#777;

}

.Progress-bar .Pro-bar-li li.P-bar03 em {

	color:#2af;

}

.Progress-bar .Pro-bar-li li.P-bar01 {

	width:30%;

	text-align:left;

}

.Progress-bar .Pro-bar-li li.P-bar02 {

	width:40%;

	text-align:center;

}

.Progress-bar .Pro-bar-li li.P-bar03 {

	width:30%;

	float:right;

	text-align:right;

}

.loading-progress {

	height:8px;

	overflow:hidden;

	border-radius:3px;

	box-shadow:inset 0 1px 1px rgba(0,0,0,0.2);

	background:#f7f7f7;

	margin-top:15px;

}

.loading-progress .loading-pgbar,.loading-progress .loading-pging {

	display:block;

	width:100%;

	height:100%;

}

.loading-progress .loading-pging {

	background:-webkit-linear-gradient(-45deg,#ff8937 0,#ff8937 25%,#D80000 25%,#D80000 50%,#ff8937 50%,#ff8937 75%,#D80000 75%,#D80000);

	-webkit-background-size:20px 20px;

	-moz-background-size:20px 20px;

	-ms-background-size:20px 20px;

	background-size:20px 20px;

	-webkit-animation:loading-pging 0.5s linear infinite;

	-moz-animation:loading-pging 0.5s linear infinite;

	-ms-animation:loading-pging 0.5s linear infinite;

	animation:loading-pging 0.5s linear infinite;

}

@-webkit-keyframes loading-pging {

	0% {

	background-position:0 0;

}

100% {

	background-position:20px 0;

}

}@-moz-keyframes loading-pging {

	0% {

	background-position:0 0;

}

100% {

	background-position:20px 0;

}

}@-ms-keyframes loading-pging {

	0% {

	background-position:0 0;

}

100% {

	background-position:20px 0;

}

}@keyframes loading-pging {

	0% {

	background-position:0 0;

}

100% {

	background-position:20px 0;

}

}.z-minheight {

	min-height:200px;

}

.loading,a.loading {

	clear:both;

	width:100%;

	display:block;

	background:#f4f4f4;

	height:40px;

	line-height:40px;

	text-align:center;

	color:#090909;

	font-size:12px;

	box-shadow:0 1px 1px #ddd inset;

}

.loading b {

	background:url(../images/logining.gif?v=130729);

	background-size:12px auto;

	background-repeat:no-repeat;

	width:12px;

	height:12px;

	display:inline-block;

	margin-right:5px;

	position:relative;

	top:2px;

}

.haveNot {

	width:100%;

	margin:20px auto;

	text-align:center;

	color:#bbb;

	font-size:16px;

}

.haveNot s {

	display:block;

	background-position:0 -102px;

	background-repeat:no-repeat;

	width:57px;

	height:57px;

	margin:0 auto;

}

.haveNot p {

	margin-top:15px;

}

div.pageDialogBG {

	width:100%;

	height:100%;

	position:fixed;

	z-index:101;

	top:0;

	left:0;

	opacity:0.3;

	background:#000;

	display:none;

}

div.pageDialog {

	position:fixed;

	z-index:102;

	top:0;

	left:0;

	display:none;

}

.Prompt {

	color:#fff;

	border-radius:5px;

	width:100%;

	height:100%;

	line-height:45px;

	margin:0 auto;

	text-align:center;

	background:rgba(0,0,0,0.7);

	box-shadow:0 2px 3px #9b9b9b;

	font-size:16px;

}

.Prompt s {

	width:23px;

	height:23px;

	background-repeat:no-repeat;

	background-position:0 -74px;

	display:inline-block;

	position:relative;

	top:5px;

	margin-right:5px;

}

.u-tipsEject {

	background:#fff;

	border-radius:5px;

	border:none;

	box-shadow:0 1px 1px rgba(0,0,0,0.3);

}

.u-tips-txt {

	text-align:center;

	line-height:70px;

	font-size:14px;

	color:#090909;

	border-bottom:1px solid #EEE;

}

.u-tipsEject .u-Btn {

	margin:12px 20px;

}

.u-tipsEject a.z-DefineBtn {

	box-shadow:none;

}

.u-tipsEject .u-Btn a.z-CloseBtn {

	background:#EEE;

	color:#090909;

	border:1px solid #EEE;

	box-shadow:none;

}

@media screen and (max-device-width:320px) {

	body {

	-webkit-text-size-adjust:none;

}

}@media screen and (max-device-width:480px) {

	body {

	-webkit-text-size-adjust:none;

}

}@media only screen and (-webkit-min-device-pixel-ratio:2) {

	body {

	-webkit-text-size-adjust:none;

}

}@media only screen and (min-device-width:768px) and (max-device-width:1024px) {

	body {

	-webkit-text-size-adjust:none;

}

}.z-class-icon01 s,.z-class-icon02 s,.z-class-icon03 s,.z-class-icon04 s,.z-class-icon05 s,.z-class-icon06 s,.z-class-icon07 s {

	background:url(http://mskin.1yyg.com/images/new-class-icon.png?v=130823);

	background-size:102px auto;

}

.z-class-icon01,.z-class-icon02,.z-class-icon03,.z-class-icon04,.z-class-icon05,.z-class-icon06,.z-class-icon07 {

	display:inline-block;

	position:relative;

	padding-left:15px;

	padding-right:5px;

	line-height:20px!important;

	color:#666;

}

.z-class-icon01 s,.z-class-icon02 s,.z-class-icon03 s,.z-class-icon04 s,.z-class-icon05 s,.z-class-icon06 s,.z-class-icon07 s {

	position:absolute;

	width:13px;

	height:13px;

	display:inline-block;

	top:4px;

	left:0;

}

.z-class-icon01 s {

	background-position:0 0;

}

.z-class-icon02 s {

	background-position:-17px 0;

}

.z-class-icon03 s {

	background-position:-34px 0;

}

.z-class-icon04 s {

	background-position:-50px 0;

}

.z-class-icon05 s {

	background-position:-67px 0;

}

.z-class-icon06 s {

	background-position:-84px 0;

}

.z-class-icon07 s {

	background-position:-107px -1px;

}





.footerdi{clear:both;width:100%;background:#f7f7f7;border-top:1px solid #ddd;height:48px;position:absolute;position:fixed;bottom:0;z-index:100;}

.footerdi a{width:20%;height:44px;padding-top:5px;text-align:center;float:left;display:block;color:#888;}

.footerdi a.hover{color:#D80000;}

.footerdi a i{display:block;background:url(../../images/mobile/f_set.png);background-size:28px auto;margin:0 auto;margin-bottom:1px;}

.footerdi li.f_home i{width:27px;height:25px;background-position:0 -26px;}

.footerdi li.f_home a.hover i{width:27px;height:25px;background-position:0 0;}

.footerdi li.f_whole i{width:25px;height:25px;background-position:0 -78px;position:relative;top:1px;}

.footerdi li.f_whole a.hover i{width:23px;height:25px;background-position:0 -78px;position:relative;top:1px;}

.footerdi li.f_whole em{position:relative;top:2px;}

.footerdi li.f_jiexiao i{width:28px;height:23px;background-position:0 -198px;position:relative;top:2px;margin-bottom:3px;position:relative;}

.footerdi li.f_car i{width:28px;height:23px;background-position:0 -128px;position:relative;top:2px;margin-bottom:3px;position:relative;}

.footerdi li.f_car a.hover i{width:28px;height:23px;background-position:0 -128px;position:relative;top:2px;margin-bottom:3px;}

.footerdi li.f_car b{background:#D80000;padding:1px;width:16px;height:16px;line-height:16px;border-radius:16px;color:#fff;position:absolute;top:-5px;font-family:Arial;text-align:center;font-size:10px;overflow:hidden;}

.footerdi li.f_personal i{width:23px;height:22px;background-position:0 -175px;position:relative;top:3px;margin-bottom:4px;}

.footerdi li.f_personal a.hover i{width:20px;height:22px;background-position:0 -175px;position:relative;top:3px;margin-bottom:4px;}

/*QQ快捷登陆*/
.registerCon .fastInfo {
    text-align: center;
}

.registerCon .fastLogin{
	padding-top: 50px;
}

.registerCon .fastLogin h2 span:nth-child(1) {
    float: left;
}

.registerCon .fastLogin h2 span {
    width: 35%;
    height: 1px;
    background-color: #DBDBDB;
    vertical-align: middle;
    display: inline-block;
    margin-top: 10px;
}

.registerCon .fastLogin h2 {
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    font-weight: normal;
}

.registerCon .fastLogin h2 span:nth-child(2) {
    float: right;
}

.registerCon .fastInfo a {
    display: inline-block;
    text-align: center;
    width: 32%;
    height: 40px;
}

.registerCon .fastInfo .user_login_q{
	display: block;
	height: 40px;
	width: 40px;
	background:url(../../images/mobile/qq.png) 0px 0px no-repeat;
	float: left;
	margin-left: 10%;
	border-radius: 20px;
}

.registerCon .fastInfo .user_login_w{
	display: block;
	height: 40px;
	width: 40px;
	background:url(../../images/mobile/wx.png) 0px 0px no-repeat;
	float: right;
	margin-right: 10%;
	border-radius: 20px;
}

.R-content  .info .registerform{
	width: 90%;
	height: 100px;
	margin:20px auto;

}

.R-content  .info .registerform .bluebut {
    background: #D80000 none repeat scroll 0% 0%;
    border: 1px solid #C40000;
    color: #FFF;
    padding: 5px 22px;
    margin: 60px auto 10px;
    display: block;
}

.greenbut {
    display: inline-block;
    font-size: 12px;
    border-radius: 2px;
    text-align: center;
    padding: 0px 19px;
    cursor: pointer;
}

.R-content .info table {
    text-align: center;
    color: #BBB;
    font-size: 12px;
}


.R-content .info table td {
    float: left;
    padding: 2px 0px;
}

.total {
    margin-top: 10px;
    background: #F0EBEC none repeat scroll 0% 0%;
    line-height: 20px;
    border: 1px solid #EED7D9;
    padding: 10px 20px;
    overflow: hidden;
    color: #666;
}

.total dd {
    float: left;
    margin-right: 18px;
    font-size: 12px;
}

.bluebut:hover {
    background: #C40000 none repeat scroll 0% 0%;
    color: #FFF;
    text-decoration: none;
}

.R-content .info table td em {
    color: #666;
    font-size: 14px;
    margin: 0px 8px 0px 2px;
}
.R-content .info table td em {
    width: 70px;
    display: block;
    float: left;
}


.R-content .divSQTX{
	padding: 10px;
	text-align: center;
}

.zRechargebtn123{background-position: 0 0;
  background-color: #D80000;
  width: 60px;
  height: 32px;
  line-height: 32px;
  border: 0px solid #de4900;
  border-radius: 5px;
  box-shadow: 0px 0px 0px #ff8533 inset;
  display: inline-block;
  background: url(../../images/mobile/signwap.png) no-repeat;
  text-decoration: none;
  outline: medium none;
  margin: 0;
  padding: 0;
  }

  .zLottery123{
    background-position: 0 0;
    background-color: #D80000;
    width: 36px;
    height: 32px;
    border: 1px solid #de4900;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ff8533 inset;
    display: inline-block;
    background: url(../../images/mobile/lottery.png) no-repeat;
    text-decoration: none;
    outline: medium none;
    margin: 0;
    padding: 0;
  }
  
   #mcover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 20000;
}
#mcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 360px!important;
    height: 110px!important;
    z-index: 20001;
}
.text {
    margin: 15px 0;
    font-size: 14px;
    word-wrap: break-word;
    color: #727272;
}
#mess_share {
    margin: 15px 0;
    display: block;
}
#share_1 {
    float: left;
    width: 49%;
    display: block;
}
#share_2 {
    float: right;
    width: 49%;
    display: block;
}
.clr {
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.button2 {
    font-size: 16px;
    padding: 8px 0;
    border: 1px solid #adadab;
    color: #000000;
    background-color: #e8e8e8;
    background-image: linear-gradient(to top, #dbdbdb, #f4f4f4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.45), inset 0 1px 1px #efefef;
    text-shadow: 0.5px 0.5px 1px #fff;
    text-align: center;
    border-radius: 3px;
    width: 100%;
}
#mess_share img {
    width: 22px!important;
    height: 22px!important;
    vertical-align: top;
    border: 0;
}


/**********************audio***********************/
.btn_music{
    display:inline-block;
    width:35px;
    height:35px;
    background-size:100% auto;
    position:absolute;
    z-index:100;
    left:15px;
    top:20px;
}
/*grzxsy*/
.a_account_top{
  width: 100%;
  height: 235px;
  background: url(/statics/templates/mowov9/images/account_bj.jpg) no-repeat center 0px;
  position: relative;
  background-size: 100% 245px;
  padding-top: 10px;
}
.a_announcement_img{
  position: absolute;
  display:block;
  width:23px;
  height:23px;
  background: url(/statics/templates/mowov9/images/account_icon.png) no-repeat 0px 0px;
  background-size: auto 23px;
  left: 15px;
  top:10px;
}
.a_user_img{
  display: block;
  width: 64px;
  margin: 5px auto;
  border-radius: 50%;
}
.a_set_img{
  position: absolute;
  display:block;
  width:23px;
  height:23px;
  background: url(/statics/templates/mowov9/images/account_icon.png) no-repeat -104px 0px;
  background-size: auto 23px;
  right: 15px;
  top:10px;
}
.a_account_p1{
  line-height: 24px;
  padding-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}
.a_account_p1 em{
  font-style: normal;
  color: #fefefe;
  font-size: 14px;
}
.a_account_p1 span{
    color: #fff;
    font-size: 14px;
    left: 6px;
    padding: 1px 10px 0;
    position: relative;
    top: -1px;
}
.a_account_p2{
	margin-bottom: 0px;
	line-height: 26px;
	color: #d8d8d8;
	font-size: 14px;
	text-align: center;
}
.a_account_p2 span.a_orange{
	color: #FFFC00;
}
.a_account_p2 em{
	font-style: normal;
	padding: 0px 4px;
}
.a_now_recharge{
	display: block;
	width: 150px;
	height: 30px;
	background: #C40000;
	margin: 6px auto 0px;
	color: #fefefe;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	border-radius: 2px;
}
.a_now_recharge:hover{
	color:#fff;
}
/*列表*/
.a_account_ul{
	margin-bottom: 0px;
    overflow: hidden;
	
}
.a_account_ul li{
  float: left;
  border: 1px solid #e9e9e9;
  border-top: 0px;
  border-left: 0px;
  padding:0px;
}
.a_account_ul li a{
	display:block;
	width:100%;
	height:71px;
}
.a_account_ul li span{
  display: block;
  width: 23px;
  height: 23px;
  margin: 12px auto;
  background: url(/statics/templates/mowov9/images/account_icon.png) no-repeat;
  background-size: auto 23px;
}
.a_account_ul li span.a_span_li1{
  background-position: -211px 0px;
}
.a_account_ul li span.a_span_li2{
  background-position: -316px 0px;
}
.a_account_ul li span.a_span_li3{
  background-position: -422px 0px;
}
.a_account_ul li span.a_span_li4{
  background-position: -527px 0px;
}
.a_account_ul li span.a_span_li5{
  background-position: -633px 0px;
  width: 24px;
}
.a_account_ul li span.a_span_li6{
  background-position: -740px 0px;
}
.a_account_ul li span.a_span_li7{
  background-position: -843px 0px;
  width: 26px;
}
.a_account_ul li span.a_span_li8{
  background-position: -950px 0px;
}
.a_account_ul li span.a_span_li9{
  background-position: -1056px 0px;
  width: 24px;
}
.a_account_ul li span.a_span_li10{
  background-position: -1236px 0px;
  width: 26px;
}
.a_account_ul li span.a_span_li11{
  background-position: -1305px 0px;
   width: 30px;
}
.a_account_ul li span.a_span_li12{
  background-position: -1386px 0px;
  width: 24px;
}
.a_account_ul li span.a_span_li99{
	 background-position: -1149px 8px;
     width: 28px;
     margin-top:25px;
     height:46px;
	
}
.a_account_ul li span.a_span_li98{
  background-position: -1444px 0px;
  width: 34px;
}
.a_account_ul li em{
  display: block;
  text-align: center;
  color: #555555;
  font-size: 14px;
  line-height: 26px;
  margin-bottom:10px;
}
.member_wz{
	height:45px;
	line-height: 45px;
	color: #555555;
    font-size: 14px;
    background-color: #f3f3f3;
    clear:left;
    border-bottom: 1px solid #e9e9e9;
    text-indent: 1.6em;
}
/*E 个人中心首页*/
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
.glyphicon-cd:before {
  content: "\e201";
}
.glyphicon-save-file:before {
  content: "\e202";
}
.glyphicon-open-file:before {
  content: "\e203";
}
.glyphicon-level-up:before {
  content: "\e204";
}
.glyphicon-copy:before {
  content: "\e205";
}
.glyphicon-paste:before {
  content: "\e206";
}
.glyphicon-alert:before {
  content: "\e209";
}
.glyphicon-equalizer:before {
  content: "\e210";
}
.glyphicon-king:before {
  content: "\e211";
}
.glyphicon-queen:before {
  content: "\e212";
}
.glyphicon-pawn:before {
  content: "\e213";
}
.glyphicon-bishop:before {
  content: "\e214";
}
.glyphicon-knight:before {
  content: "\e215";
}
.glyphicon-baby-formula:before {
  content: "\e216";
}
.glyphicon-tent:before {
  content: "\26fa";
}
.glyphicon-blackboard:before {
  content: "\e218";
}
.glyphicon-bed:before {
  content: "\e219";
}
.glyphicon-apple:before {
  content: "\f8ff";
}
.glyphicon-erase:before {
  content: "\e221";
}
.glyphicon-hourglass:before {
  content: "\231b";
}
.glyphicon-lamp:before {
  content: "\e223";
}
.glyphicon-duplicate:before {
  content: "\e224";
}
.glyphicon-piggy-bank:before {
  content: "\e225";
}
.glyphicon-scissors:before {
  content: "\e226";
}
.glyphicon-bitcoin:before {
  content: "\e227";
}
.glyphicon-btc:before {
  content: "\e227";
}
.glyphicon-xbt:before {
  content: "\e227";
}
.glyphicon-yen:before {
  content: "\00a5";
}
.glyphicon-jpy:before {
  content: "\00a5";
}
.glyphicon-ruble:before {
  content: "\20bd";
}
.glyphicon-rub:before {
  content: "\20bd";
}
.glyphicon-scale:before {
  content: "\e230";
}
.glyphicon-ice-lolly:before {
  content: "\e231";
}
.glyphicon-ice-lolly-tasted:before {
  content: "\e232";
}
.glyphicon-education:before {
  content: "\e233";
}
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}
.glyphicon-menu-hamburger:before {
  content: "\e236";
}
.glyphicon-modal-window:before {
  content: "\e237";
}
.glyphicon-oil:before {
  content: "\e238";
}
.glyphicon-grain:before {
  content: "\e239";
}
.glyphicon-sunglasses:before {
  content: "\e240";
}
.glyphicon-text-size:before {
  content: "\e241";
}
.glyphicon-text-color:before {
  content: "\e242";
}
.glyphicon-text-background:before {
  content: "\e243";
}
.glyphicon-object-align-top:before {
  content: "\e244";
}
.glyphicon-object-align-bottom:before {
  content: "\e245";
}
.glyphicon-object-align-horizontal:before {
  content: "\e246";
}
.glyphicon-object-align-left:before {
  content: "\e247";
}
.glyphicon-object-align-vertical:before {
  content: "\e248";
}
.glyphicon-object-align-right:before {
  content: "\e249";
}
.glyphicon-triangle-right:before {
  content: "\e250";
}
.glyphicon-triangle-left:before {
  content: "\e251";
}
.glyphicon-triangle-bottom:before {
  content: "\e252";
}
.glyphicon-triangle-top:before {
  content: "\e253";
}
.glyphicon-console:before {
  content: "\e254";
}
.glyphicon-superscript:before {
  content: "\e255";
}
.glyphicon-subscript:before {
  content: "\e256";
}
.glyphicon-menu-left:before {
  content: "\e257";
}
.glyphicon-menu-right:before {
  content: "\e258";
}
.glyphicon-menu-down:before {
  content: "\e259";
}
.glyphicon-menu-up:before {
  content: "\e260";
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}

.accumulative-number{
        width:300px;
        margin:0 auto;
        height:59px;
        color:#cccccc;
        line-height:40px;
        text-align: center;
  
  }
  	/* 2016 03 18 modole.com */
.number p{
	color:#666;
	font-size:14px;
	display:block;
	float:left;
}

.number ul{
	float:left;
	position:relative;
}
.number a li{
	display:block;
	width:18px;
	color:#D80000;
	position:relative;
}

.number li{
	float:left;
	display:block;
	font-size:20px;
	height:27px;
	line-height:27px;
	text-align:center;
	margin:0 2px;
	border-radius:1px;
	border:1px solid #ddd;
	overflow:hidden;
}

.number li.num{
	background:#fff;
}

.number li.nobor{
	width:10px;
	border:0 none;
}

.number li.gray6{
	width:56px;
	font-size:14px;
	line-height:29px;
	_line-height:31px;
}

.number li cite{
	display:block;
	width:18px;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}

.number li em{
	display:block;
	width:16px;
}

.number li i{
	width:196px;
	height:0;
	border-top:1px solid #ededed;
	position:absolute;
	top:0px;
	left:0;
	z-index:0;
}

.number li.u-secondary{
	width:40px;
	position:relative;
	text-align:left;
}

.number li.u-secondary b{
	display:block;
	width:7px;
	height:11px;
	background-position:-26px 0;
	position:absolute;
	top:0px;
	right:0;
}

.number li.u-secondary b{
	border-style:solid;
	border-width:4px 0 4px;
	border-color:#fff;
	border-left:4px solid rgb(102,102,102);
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	position:absolute;
	left:33px;
	top:0px;
}

.number li.u-secondary b s{
	border-style:solid;
	_border-style:dashed;
	border-width:3px;
	border-color:transparent;
	border-left-width:0;
	border-left:3px solid #fff;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	position:absolute;
	top:-3px;
	left:-5px;
}	
/*最新动态*/
.yscroll_list{height: 20px;width:100%;border-bottom: 1px solid #dddddd;overflow: hidden;}
.yscroll_listin{width:100%;line-height:16px;overflow: hidden;font-size: 12px;height: 30px;position:relative;color: #333333;margin: -17px auto;}
.yscroll_listin ul{width:100%;float:left;margin-left: 30px;}
.yscroll_listin span{display:block;position: absolute;top:14px;left:2px;padding-left: 5px; width: 30px;height: 16px;line-height:16px;}
.yscroll_listin span i{display:block;width:20px;left: 6px;top: 1px;height:16px;position: absolute;background: url(../../img/front/index/icon_index.png) no-repeat -46px -4px;}
.yscroll_list_left li{height:44px;width:100%;line-height:44px;}
.yscroll_list_left li .yscrollfont{float:left;width:50em;height:44px;padding-left:20px;line-height:44px;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;}
.yscroll_listin a{color: #555555;font-size: 12px;}
.yscroll_list_left li .yscrolltime{float:right;width:82px;height:44px;color:#333333;text-align:left;line-height:44px;}
.yscroll_listin .yscroll_list_right{float: right;width: 62px;padding-top:8px;/* padding-left:70px; */margin-left:0px;}
.yscroll_list_right li{display: block;width: 31px;height: 26px;float: left;}
.yscroll_list_right li.yscroll_list_rightli1{background:  url(../../img/front/index/icon_index.png) no-repeat -125px -22px;}
.yscroll_list_right li.yscroll_list_rightli2{background:  url(../../img/front/index/icon_index.png) no-repeat -156px -22px;}
.yscroll_list_right li.yscroll_list_rightli1:hover{background: url(../../img/front/index/icon_index.png) no-repeat -256px -48px;}
.yscroll_list_right li.yscroll_list_rightli2:hover{
	background: url(../../img/front/index/icon_index.png) no-repeat -256px -22px;}
/*四个小导航的css*/
.navautos{width:100%;height:50px;margin-top:1px;background-color:#Fff;}
.wrapnavautos{width:25%;height:50px;float:left;}
.textnavword{width:100%;background-color:#Fff;margin-top:4px;font-family:微软雅黑;font-size: 12px}
.textnav{height:19px;width:100%;background-color:#Fff;}
.textnav2{height:14px;width:100%;background-color:#Fff;}
#navautos1{width:30px;height:30px;margin:0 auto;}
#navautos2{width:30px;height:30px;margin:0 auto;}
#navautos3{width:30px;height:30px;margin:0 auto;}
#navautos4{width:30px;height:30px;margin:0 auto;}
.wrapnavautos img{width:100%;height:100%;}

.icon_cont_notice
{
    background: url("/statics/templates/mowov9mb1/images/mobile/cont_notice.png") no-repeat;
    height: 20px;
    width: 20px;
    background-size: 100%;
    position: absolute;
    left:20px;
    top: 43rem;
}

.icon-notices
{
    background: url("../images/icon/notice.png") no-repeat;
    height: 20px;
    width: 20px;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 30.8rem;
}
.border-bottom {
    border-bottom: 1px solid #dcdcdc !important;
}
.bg-white {
    background-color: #FFFFFF;
}
.am-padding-left-sm {
    padding-left: 1rem !important;
}
.am-padding-bottom-xs {
    padding-bottom: .5rem !important;
}
.textnav {
    height: 19px;
    width: 100%;
    background-color: #Fff;
}
/*滚动样式*/
.scrolllayer {
    /*float:left;*/
    overflow:hidden;height:18px;width:100%; display:block; margin-top:2px;
    /*border:1px red solid;*/
}
.scrollmessage {float:left;text-align:left;width:100%;font-size:14px;
    /*font-family: "宋体";*/
}
.scrollmessage ul {list-style:none; padding:0; }
.scrollmessage li {
    line-height:18px;
    /*color:#FF0000;*/
}
.scrollmessage li a{
    /*color:#FF0000; */
    text-decoration:none;}