@charset "utf-8";

.goodsCon {

    width: 100%;

}

.detailContent {

    padding: 10px;

    overflow: hidden;

    margin: 0 auto;

    color: #333;

}

.awalkh123asldkj img {
    width: 100% !important;
}

.awalkh123asldkj div {
    width: auto !important;
    padding-top: auto !important;
    padding: auto !important;
    margin: auto !important;
    background: none !important;
    height: auto !important;
}

.awalkh123asldkj div p {
    padding: 0 !important;
}

.detailContent img {

    margin: 0 auto;

    overflow: hidden;

}

.nav-wrapper {
    position: fixed;
    width: 100%;
    max-width: 640px;
    height: 40px;
    top: 0;
    /*left: 0;*/
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 10;
}

.nav-wrapper .nav-inner {
    box-sizing: border-box;
    float: right;
    height: 40px;
    width: 50%;
}

.nav-wrapper .nav-list {
    width: 100%;
}

.nav-wrapper .nav-inner li:first-child {
    width: 100%;
}

.nav-wrapper .nav-inner li {
    float: left;
    height: 38px;
    text-align: center;
    width: 23%;
}

.nav-wrapper .nav-inner li.current {
    border-bottom: 2px solid #f60;
}

.nav-wrapper .nav-inner li.current span {
    color: #f60;
}

.nav-wrapper .nav-inner span {
    font-size: 14px;
    color: #999;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 4px;
}

.nav-wrapper .select-btn.current .arrow-up:before {
    border-bottom-color: #f60;
}

.nav-wrapper .arrow-up {
    left: 48%;
    top: 22px;
    position: absolute;
    display: none;
}

.nav-wrapper .arrow-up:after {
    border: 8px solid transparent;
    border-bottom-color: #fff;
    content: " ";
    position: absolute;
    top: 3px;
    left: 1px;
}

.nav-wrapper .arrow-up:before {
    border: 9px solid transparent;
    border-bottom-color: #ddd;
    content: " ";
    position: absolute;
    top: 0;
    left: 0px;
}

.nav-wrapper .select-btn.current {
    color: #f60;
    border-bottom: 2px solid #f60;
}

.nav-wrapper .select-btn {
    border-right: 1px solid #eee;
    box-sizing: border-box;
    color: #999;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    width: 50%;
}

.nav-wrapper .select-btn.current .select-icon i {
    background-color: #f60;
}

.nav-wrapper .select-icon {
    background-color: #fff;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 13px;
}

.nav-wrapper .select-icon i:first-child {
    margin-top: 0;
}

.nav-wrapper .select-icon i {
    background-color: #bbb;
    display: block;
    height: 2px;
    margin-top: 3px;
    width: 13px;
}

.nav-wrapper .select-total {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
    position: absolute;
    right: 0;
    top: 41px;
    width: 100%;
    z-index: 4;
    display: none;
}

.sort_list::after {
    clear: both;
    content: "";
    display: table;
}

.sort_list {
    width: 100%;
}

.sort_list li.current a {
    color: #f60;
}

.sort_list li {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    box-sizing: border-box;
    float: left;
    height: 44px;
    line-height: 42px;
    width: 33.3%;
}

.sort_list li:nth-child(3n) {
    border-right: medium none;
    width: 33.4%;
}

.sort_list a {
    color: #000;
    display: block;
    font-size: 14px;
    padding: 0 20px;
    text-align: left;
}

.joinAndGet ul s, .pResults s {

    background: url(../../images/mobile/preIcon.png);

    background-size: 61px auto;

    background-repeat: no-repeat;

}

.recordCon li.rBg a s {

    background: url(../../images/mobile/share-img.png);

    background-size: 90px auto;

}

.goodsList {

    clear: both;

    width: 100%;

    margin: 0 auto;

    overflow: hidden;

}

.goodsList ul {

    padding: 8px;

    border-bottom:1px solid #eee;

    position: relative;

    overflow: hidden;

    margin-top: -1px;

    display: inline-block;

    width: 100%;

    -webkit-box-sizing: border-box;

    cursor: pointer;

}

.goodsList ul:after {

    content: "\0020";

    display: block;

    height: 0;

    clear: both;

}

.goodsList span.z-Limg {
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.goodsList span img {

    width: 100%;

    height: 100%;

    display: inline-block;

    overflow: hidden;

}

.goodsList .goodsListR {

    margin-left: 90px;

}

.goodsList .goodsListR h2 {
    width: 100%;
    height: 18px;
    min-height: 18px;
    line-height: 18px;
    color: #333;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.goodsList .goodsListR .pRate {

    height: 32px;

    margin-top: 4px;

    position: relative;

    margin-right: 50px;

}

.goodsList .Progress-bar {

    overflow: hidden;

}

.goodsList .Progress-bar ul {

    padding: 0;

    width: 100%;

    border: 0 none;

}

.goodsList .goodsListR a.add {

    display: block;

    width: 40px;

    height: 40px;

    position: absolute;

    right: -50px;

    top: 0;

    background-color: #f60;

    border-radius: 20px;

}

.goodsList .goodsListR a.add s {

    display: inline-block;

    background-position: -58px -29px;

    width: 22px;

    height: 22px;

    margin: 9px 0 0 6px;

}

.goodsList .goodsListR a.gray {

    background: #cecece;

}

.goodsList .pTitle {

    width: 70px;

    height: 14px;

    padding-top: 2px;

    -webkit-transform: rotate(-45deg);

    text-align: center;

    position: absolute;

    left: -24px;

    top: 3px;

    color: #fff;

    font-size: 10px;

}

.goodsList .pLimitedTime {

    background: #f60;

}

.goodsList .pNewProducts {

    background: #3b0;

}

.goodsList .pPopularity {

    background: #f00;

}

.pCon {

    background: #f4f4f4;

    padding-bottom: 20px;

}

.pNav {

    width: 100%;

    box-shadow: 0 1px 2px #b8b8b8;

    background: #e4e4e4;

    height: 35px;

    line-height: 36px;

    position: relative;

    z-index: 1;

    overflow: hidden;

}

.pNav ul.slides {

    margin: 0;

    display: none;

    border-right: 1px solid #000;

}

.pNav div.flex-viewport {

    margin: 0;

    height: 35px;

    position: relative;

    overflow: hidden;

}

.pNav div.flex-viewport ul.slides {

    margin: 0;

}

.pNav ul.slides li {

    float: left;

    text-align: center;

    display: inline-block;

    font-size: 14px;

    position: relative;

}

.pNav ul.slides li a {

    display: block;

    padding: 0 26px;

    color: #666;

}

.pNav ul.slides li.cur {

    background: #f4f4f4;

    border-bottom: 3px solid #f4f4f4;

    font-size: 16px;

}

.pNav ul.slides li.cur a {

    display: block;

    padding: 0 20px;

    color: #f60;

}

.pNav ul.slides li a.theLeft {

    padding-left: 21px;

    border-left: 1px solid #efefef;

}

.pNav ul.slides li a.theRight {

    padding-right: 21px;

    border-right: 1px solid #efefef;

}

.pNav ul.slides b {

    position: absolute;

    top: 0;

    left: 0;

    background: #cecece;

    border-right: 1px solid #efefef;

    width: 1px;

    height: 35px;

}

.pNav ul.slides s {

    position: absolute;

    top: 0;

    right: 0;

    background: #cecece;

    border-right: 1px solid #efefef;

    width: 1px;

    height: 35px;

}

.pPic {

    width: 100%;

    padding: 2px 0;

    text-align: center;

    background: #f4f4f4;

    position: relative;

    z-index: 10;

}

.pPic2 {

    width: 100%;

    height: 200px;

    margin: 2px auto 3px;

    position: relative;

    overflow: hidden;

}

.pImg {

    min-width: 320px;

    max-width: 100%;

    height: 200px;

    position: relative;

    padding: 0;

    overflow: hidden;

    display: inline-block;

}

.pImg ul.slides {

    margin: 0;

    height: 200px;

    display: none;

}

.pImg li {

    height: 200px;

    margin: 0;

}

.pImg li img {

    width: 200px;

    height: 200px;

    margin: 0 5px;

    background: #fff;

}

.pImg .direction-nav {

    width: 100%;

    height: 200px;

    position: absolute;

    top: 0;

}

.pImg .direction-nav li {

    display: block;

    width: 50px;

    height: 200px;

    background: #eee;

    opacity: 0.5;

}

.pImg .direction-nav li.prev {

    float: left;

}

.pImg .direction-nav li.next {

    float: right;

}

.pPic span.z-limit-tips {

    width: 28px;

    font-size: 10px;

    padding-top: 2px;

    height: 28px;

    line-height: 10px;

    color: #fff;

    position: absolute;

    top: 0;

    left: 10px;

    z-index: 15;

    background-position: -52px -167px;

    display: inline-block;

    text-align: center;

}

.pPicBor span.z-limit-tips {

    position: absolute;

    top: -1px;

}

.pDetails {

    width: 100%;

    padding: 15px 8px;

    background: #fff;

    box-shadow: 0 1px 1px #dbdbdb;

    -webkit-box-sizing: border-box;

    margin-top: -3px;

}

.pDetails:after {

    content: "\0020";

    display: block;

    height: 0;

    clear: both;

}

.pDetails b {

    color: #666;

    line-height: 20px;

    font-size: 16px;

}

.pDetails a span {

    color: #E80000;

}

.goodsListR p.price {
    margin: 3px 0 0;
    color: #666;
}

.pDetails p.price {

    margin: 8px 0 10px;

    color: #888;

}

.tag {
    position: absolute;
    width: 100%;
    height: 2rem;
    left: 0;
    bottom: 0;
    line-height: 2rem;
    color: #FFF;
    font-size: .8rem;
    letter-spacing: 3px;
    background: rgba(0,0,0,.5);
}

.goodsListR p.price em, .pDetails p.price em {

    color: #666;

}

.pDetails .center-txt { /*限购商品还可购买人次*/
    margin-left: 25px;
    text-align: left;
}

.price .purchase-txt { /*商品内页限购人次*/
    color: #f60;
    float: right;
    font-size: 12px;
    line-height: 16px;
}

.pDetails .Progress-bar p, .pDetails .Progress-bar p span {

    height: 8px;

}

.pDetails-end .Progress-bar p span {

    background: #bbb;

}

.pBtn {

    width: 100%;

    margin-top: 10px;

    height: 35px;

    -webkit-box-sizing: border-box;

}

.pBtn a {

    display: inline-block;

    color: #fff;

    width: 38%;

    height: 33px;

    line-height: 33px;

    text-align: center;

    font-size: 16px;

    border-radius: 3px;

    margin-right: 2px;
}

.pBtn a.buyBtn {

    background: #f60;

    border: 1px solid #EF6000;

}

.pBtn a.addBtn {

    background: #ffb320;

    border: 1px solid #FDA700;

}
.pBtn a.collectBtn
{
    background:#22AAFF ;

    border:1px solid #00b3ff;

    margin-right: 0px;

    width: 20%;
}

.pBtn a.freeBtn {

    background: #F60;

    margin-left: 31%;

}

.joinAndGet {

    width: 100%;

    padding-top: 5px;

}

.joinAndGet dl a {

    display: block;

    color: #666;

    border-radius: 3px;

    height: 38px;

    line-height: 38px;

    margin: 10px 8px 0;

    padding: 0 13px;

    font-size: 14px;

    border: 1px solid #dcdcdc;

    border-radius: 5px;

    background: #fff;

    box-shadow: 1px 1px 1px #e7e7e7;

}

.joinAndGet dl a b {

    border-width: 2px 2px 0 0;

    position: relative;

    top: 15px;

}

.joinAndGet dl a em {

    color: #C0C0C0;

    font-size: 10px;

}

.joinAndGet dl a span {

    margin: 0 2px;

}

.joinAndGet dl a strong {

    font-weight: normal;

    margin: 0 2px 0 10px;

}

.joinAndGet ul {

    clear: both;

    padding: 10px;

    margin: 10px 8px 0;

    position: relative;

    color: #999;

}

.joinAndGet ul a {

    display: block;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: 10;

}

.joinAndGet li img {

    width: 70px;

    height: 70px;

    border-radius: 5px;

}

.joinAndGet li.getInfo {

    margin-left: 80px;

    line-height: 18px;

    font-size: 0.5em !important;

}

.joinAndGet li b {

    border-width: 2px 2px 0 0;

    margin-top: 40px;

    text-align: right;

}

.joinAndGet ul s {

    background-repeat: no-repeat;

    background-position: 0 0;

    width: 61px;

    height: 61px;

    position: absolute;

    left: -2px;

    top: -2px;

}

.recordCon {

    position: relative;

    margin-top: 1px;

    height: 100%;

    border-left: 1px solid #efefef;

}

.recordCon img {
    width: 100% !important;
    display: block
}

.recordCon ul {

    border-bottom: 1px solid #efefef;

    padding: 15px 0;

    position: relative;

    margin-top: -1px;

}

.recordCon li {

    color: #999;

    line-height: 20px;

    font-size: 12px;

}

.recordCon li.rBg {

    position: absolute;

    left: 0px;

    z-index: 15;

}

.recordCon li.rBg a {

    display: block;

    position: relative;

}

.recordCon li img {

    width: 40px !important;

    height: 40px;

    margin: 2px 0 0 3px;

}

.recordCon li.rBg a s {

    background-position: -44px -99px;

    background-repeat: no-repeat;

    width: 46px;

    height: 46px;

    position: absolute;

    left: 0;

    top: 0;

}

.recordCon li.rInfo {

    margin-left: 55px;

}

.recordCon a {

    color: #2af;

    font-size: 14px;

    margin-right: 3px;

}

.recordCon span {

    margin-right: 10px;

    font-size: 14px;

}

.recordCon em {

    color: #ccc;

}

.recordCon strong {

    word-wrap: break-word;

    display: inline-block;

    font-weight: normal;

}

.recordCon i {

    background: url(../Images/r-line.gif) no-repeat;

    height: 1px;

    width: 230px;

    position: absolute;

    left: 0;

    top: -1px;

}

.leftLine {

    position: absolute;

    top: 0;

    left: 27px;

    height: 100%;

    width: 1px;

}

.pbor-bottom {

    border-bottom: 1px solid #ddd;

    padding-bottom: 20px;

}

.detailCon {

    font-size: 12px;

    line-height: 20px;

    color: #555;

    padding: 20px 10px;

}

.detailCon img {

    display: block;

    margin: 10px 0;

}

.pProcess {

    clear: both;

    background: #fff;

    border: 1px solid #cfcfcf;

    border-radius: 5px;

    margin: 20px 8px;

    -webkit-box-sizing: border-box;

    box-shadow: 1px 1px 1px #ddd inset;

}

.pProcess2 {

    box-shadow: 1px 1px 1px #eee inset;

    margin: 20px 8px;

}

.pProcess .pCalculation {

    padding: 20px 15px;

}

.pCalculation h4 {

    color: #bbb;

    text-align: center;

    font-size: 16px;

    display: block;

}

.pProcess .pResults {

    position: relative;

    color: #ccc;

}

.pResultsL {

    float: left;

    display: inline-block;

    width: 65px;

    text-align: center;

}

.pResultsL a {

    width: 60px;

    height: 60px;

    position: relative;

    display: block;

    margin: 6px;

}

.pResultsL a img {

    width: 60px;

    height: 60px;

    overflow: hidden;

    border-radius: 5px;

}

.pResultsL a span {

    width: 60px;

    height: 15px;

    line-height: 15px;

    text-align: center;

    color: #fff;

    background: rgba(0, 0, 0, 0.4);

    position: absolute;

    bottom: 0;

    left: 0;

    font-size: 10px;

    border-radius: 0 0 5px 5px;

    overflow: hidden;

}

.pResultsL s {

    display: inline-block;

    background-position: 0 -63px;

    width: 55px;

    height: 55px;

    position: absolute;

    left: -2px;

    top: -2px;

}

.pResultsR {

    margin-left: 72px;

}

.pResultsR .g-snav-lst {

    text-align: center;

    border-left: 1px solid #eee;

    padding-top: 10px;

    min-width: 64px;

    height: 62px;

}

.pResultsR .g-snav-lst dd {

    margin-top: 5px;

}

.pResults p {

    clear: both;

    height: 40px;

    line-height: 40px;

    border-top: 1px solid #eee;

    padding: 0 6px;

    font-size: 14px;

}

.pResults p a {

    text-indent: 0;

    color: #fff;

    text-align: center;

    background: #f60;

    padding: 0 18px;

    height: 25px;

    line-height: 25px;

    display: inline-block;

    border-radius: 3px;

    font-size: 12px;

    margin-top: 7px;

}

.pResults p b {

    font-size: 16px;

}

.pCountdown {

    padding: 5px 10px;

}

.pCountdown .g-snav-lst {

    margin: 10px 5px;

    height: 73px;

    line-height: 73px;

    text-align: center;

    background: #2af;

    color: #fff;

    box-shadow: 1px 1px 1px #1B85C7 inset;

    border-radius: 5px;

    font-size: 32px;

    position: relative;

    width: 25%;

    border: 0 none;

    overflow: hidden;

}

.pCountdown .g-snav-lst:nth-child(4n-3) {

    background: #efefef;

    border: 1px solid #ccc;

    border-right: 1px solid #e7e7e7;

    border-bottom: 1px solid #e7e7e7;

    color: #bbb;

    box-shadow: 1px 1px 1px #d5d5d5 inset;

    font-size: 18px;

    height: 55px;

    padding-top: 18px;

    line-height: 20px;

    display: block;

}

.pCountdown .g-snav-lst .dot {
    position: absolute;
    width: 6px;
    overflow: hidden;
    -webkit-animation: dotting linear infinite 4s;
    -webkit-animation-fill-mode: backwards;
}

@-webkit-keyframes dotting {
    16% {
        width: 12px;
    }

    30% {
        width: 18px;
    }

    44% {
        width: 24px;
    }

    58% {
        width: 30px;
    }

    72% {
        width: 36px;
    }

    85% {
        width: 36px;
    }

    86% {
        width: 0;
    }

    99% {
        width: 0px;
    }

    100% {
        width: 6px;
    }
}

.pCountdown s, .pCountdown em {

    background-repeat: no-repeat;

    position: absolute;

    right: -14px;

}

.pCountdown s {

    background-position: 0 -160px;

    width: 29px;

    height: 29px;

    bottom: -6px;

}

.pCountdown em {

    background-position: -62px -8px;

    color: #fff;

    font-size: 11px;

    width: 13px;

    height: 18px;

    line-height: 22px;

    padding-left: 5px;

    bottom: 0;

    right: 0;

}

.pCountdown .g-snav-lst:nth-child(4n-4) em {

    font-size: 7px;

    width: 16px;

    padding-left: 2px;

    height: 18px;

}

.pCountDown {

    width: 278px;

    margin: 20px auto 0;

    background: #f60;

    border-radius: 5px;

    padding: 7px 15px 7px 7px;

}

.status {

    width: 282px;

    background: #fff;

    border: 2px solid #ffd800;

    box-shadow: 0 1px 1px #E95800;

    color: #bbb;

    border-radius: 5px;

}

.status1 {

    text-align: center;

    padding: 8px 0 5px 0;

    display: inline-block;

    color: #ffb482;

    font-size: 24px;

}

.status1 span {

    margin-right: 15px;

    position: relative;

    top: -3px;

    color: #bbb;

    font-size: 16px;

}

.status1 em {

    color: #f60;

}

.status2 {

    text-align: center;

    font-size: 16px;

    padding: 7px 0;

}

.status2 p {

    display: inline-block;

    background: url(../Images/progressbar.gif) repeat-x;

    background-size: 12px auto;

    border-radius: 10px;

    width: 245px;

    height: 7px;

    border-bottom: 1px solid #d6b6ab;

}

.status3 {

    font-size: 16px;

    padding: 10px 0;

    display: inline-block;

}

.status3 li {

    float: left;

    margin-left: 8px;

    text-align: left;

    color: #999;

}

.status3 li img {

    width: 50px;

    height: 50px;

    overflow: hidden;

    border-radius: 5px;

}

.status3 li dd {

    display: block;

    line-height: 16px;

}

.status3 li dd a {

    color: #2af;

    margin: 0 3px;

}

.status3 li dd span {

    color: #666;

}

.pFortunatelycode {

    display: block;

    width: 282px;

    margin-left: 2px;

    margin-top: 10px;

    background: url(../../images/mobile/revealed_07.gif) bottom repeat-x;

    background-size: 3px auto;

    padding-bottom: 1px;

    position: relative;

}

.pFortunatelycode p {

    width: 266px;

    margin: 0 auto;

    background: #fefbd4;

    padding: 10px 8px;

    color: #FF8F45;

    font-size: 14px;

}

.pFortunatelycode p em {

    font-size: 16px;

}

.pFortunatelycode p a {

    display: inline-block;

    padding: 3px 10px;

    box-shadow: 0 1px 2px #c1bfa1;

    background: #f60;

    color: #fff;

    border-radius: 20px;

    position: relative;

    top: -1px;

}

.pFortunatelycode s {

    position: absolute;

    background: url(../../images/mobile/revealed_03.gif) no-repeat;

    background-size: 286px auto;

    width: 286px;

    height: 5px;

    top: -4px;

    left: -2px;

}

.pSurplus {

    clear: both;

    width: 100%;

    margin: 10px auto;

    height: 39px;

    line-height: 39px;

    background: #f4f4f4;

    color: #999;

    font-size: 14px;

    border-radius: 5px;

    border: 1px solid #f1f1f1;

}

.pSurplus p {

    width: 300px;

    margin: 0 auto;

    font-size: 16px;

}

.pSurplus span {

    display: inline-block;

    background: #f60;

    padding: 0 8px;

    height: 18px;

    line-height: 18px;

    text-align: center;

    color: #fff;

    border: 1px solid #fa6400;

    border-radius: 3px;

    margin: 0 10px 0 6px;

    font-size: 12px;

    position: relative;

    top: -2px;

}

.pSurplus em {

    font-family: Arial;

    color: #f60;

    font-size: 16px;

    margin: 0 5px;

}

.pClosed, .pOngoing {

    clear: both;

    width: 100%;

    margin: 10px auto 0;

    background: #eee;

    border: 1px solid #ddd;

    border-radius: 5px;

    -webkit-box-sizing: border-box;

}

.pClosed {

    height: 39px;

    line-height: 36px;

    font-size: 18px;

    color: #999;

    text-align: center;

}

.pOngoing {

    height: 42px;

    line-height: 42px;

    padding: 0 8px;

    font-size: 16px;

    color: #f60;

}

.pOngoing em {

    margin: 0 3px;

}

.pOngoing span {

    display: inline-block;

    width: 98px;

    height: 28px;

    line-height: 28px;

    font-size: 14px;

    text-align: center;

    background: #f60;

    color: #fff;

    border-radius: 5px;

    margin-top: 5px;

    border: 1px solid #ef6000;

}
/*0元购幸运码提示*/

.red_bag {
    display: none;
    position: fixed;
    width: 10rem;
    height: auto;
    left: calc(50% - 5rem);
    top: calc(50% - 6rem);
    padding: 1rem 0;
    text-align: center;
    background: #9D2212;
    border-radius: 5px;
    box-shadow: 0 0 15px #333;
    overflow: hidden;
    z-index: 111;
}

.red_bag .close {
    position: absolute;
    width: 1rem;
    height: 1rem;
    padding: .25rem;
    right: 0;
    top: 0;
    line-height: 1rem;
    color: #FFDA8B;
    font-size: 1rem;
    border: 2px solid #9D2212;
    cursor: pointer;
}

.red_bag .header {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background: transparent;
    border-bottom: none;
}

.red_bag .header .title {
    color: #FFDA8B;
    font-size: 1.05rem;
    letter-spacing: 1px;
}

.red_bag .content .code {
    width: 8rem;
    height: 8rem;
    line-height: 8rem;
    margin: 1rem auto 0;
    color: #333;
    font-size: 1.25rem;
    background: #FFA200;
    border-radius: 50%;
}

/*内页同类商品*/
.special-good-contain{
    margin: 10px;
    overflow: hidden;
}
.special-good-contain h2{
    color: #666;
    margin-bottom: 5px;
    font-size: 14px;
}
.good-carousel{
    /*padding: 5px;*/
    background: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: 1px 1px 1px #e7e7e7;
}
.good-carousel li{
    position: relative;
    text-align: center;
    padding: 0 5px;
}
.good-carousel li:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #eee;
    right: 0;
    top: 0;

}
.good-carousel .price{
    margin-top: 5px;
    text-align: center;
}
.good-carousel p{
    text-align: center;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.owl-carousel .owl-item img{
    padding: 8px;
    box-sizing: border-box;
}
.owl-carousel .owl-item{
    padding-bottom: 10px;
}
/*内页同类商品*/

/*end*/
