<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <title>{wc:if isset($title)}{wc:$title}{wc:else}{wc:fun:_cfg("web_name")}{wc:if:end}</title>
    <link rel="stylesheet" href="{G_UPLOAD_PATH}/app/style.css"/>
    <style>
        .s5-footer span{color:#fefeff;font: 12px/1.5 "Microsoft Yahei",Tahoma,Verdana;}
    </style>
</head>
<body>

<div class="g-part">
    <div class="g-part-wrap">
            <i class="bg s1-top"></i>
            <p class="g-part-title g-part-title1"><em>1</em><span class="g-part-title-b">元奖品</span><span class="g-part-title-c">任意挑选</span></p>
            <i class="bg g-part-des1"></i>

            <p class="g-part-title g-part-title2"><em>1</em>元拿下<span>尽在掌握</span></p>
            <i class="bg g-part-des2"></i>

            <p class="g-part-title g-part-title3"><em>1</em>看就懂<span>简单明了</span></p>
            <i class="bg g-part-des3"></i>

            <p class="g-part-title g-part-title4"><em>1</em>触即发<span>刻不容缓</span></p>
            <i class="bg g-part-des4"></i>

            <p class="g-part-title g-part-title5"><span>立即开启</span><em>1</em>元夺宝</p>
            <i class="bg g-part-des5"></i>
    </div>
    <div class="g-part-bottom">
        <i style="background-position: -297px -350px; width: 135px; height: 157px; float: left; margin-right: 30px; border: 1px solid rgba(4, 0, 0, 0.4); z-index: 100; display: inline-block;"><img src="{G_UPLOAD_PATH}/app/apple.png" alt=""></i>
        <i style="background-position: -297px -350px; width: 135px; height: 157px; float: left; margin-right: 30px; border: 1px solid rgba(4, 0, 0, 0.4); z-index: 100; display: inline-block;"><img src="{G_UPLOAD_PATH}/app/anzhuo.png" alt=""></i>
        <div class="g-part-bottom-right">
            <div class="g-part-icon">
                <div class="g-part-icon1">
                    <i class="bg iphone"></i><span class="g-part-iphone" style="margin-right:90px;">iPhone版 </span>
                    <i class="bg android"></i><span class="g-part-android"> Android版</span>
                </div>
                <div class="g-part-icon2" style="display: none">
                    <i class="bg iphone"></i><span class="g-part-iphone"  style="margin-right:90px;">iPhone版 </span>
                    <i class="bg android"></i><span class="g-part-android"> Android版</span>
                </div>
                <div class="g-part-icon3"style="display: none">
                    <i class="bg iphone"></i><span class="g-part-iphone"  style="margin-right:90px;">iPhone版 </span>
                    <i class="bg android"></i><span class="g-part-android"> Android版</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="head">
    <div class="g-wrap">
        <div class="head-wrap">
            <a href="{G_WEB_PATH}" target="_blank" style="display: inline-block; width:121px; height:43px;"><img src="{G_UPLOAD_PATH}/{wc:fun:Getlogo()}" alt=""></a>
            <span class="h-line">|</span>
            <i class="bg subtitle" style="margin-left:150px;"></i>
        </div>
    </div>
</div>
<div class="section s1">
    <div class="g-wrap">
        <img src="{G_UPLOAD_PATH}/app/s1-phone.png" alt="" width="493" height="849" class="s1-phone"/>
        <i class="bg s1-zs"></i>
        <i class="bg s1-computer"></i>
        <i class="bg s1-cup"></i>
        <i class="bg s1-kh"></i>
        <i class="bg s1-camera"></i>
        <i class="bg s1-pad"></i>
    </div>
</div>
<div id="wrap">
    <div class="section s2">
        <div style="overflow: hidden;height: 775px;position:relative;">
            <div class="g-wrap">

                <i class="bg2 s2Cam"></i>
                <i class="s2Com1"></i>
                <i class="s2Com2"></i>
                <i class="bg2 s2Yg"></i>
                <i class="s2Phone"></i>
                <i class="bg2 s2Cam2"></i>
                <i class="bg2 s2Watch"></i>
                <i class="bg2 s2Ping1"></i>
                <i class="bg2 s2Ping2"></i>
                <i class="bg2 s2Pad"></i>
                <i class="bg2 s2Ear"></i>
                <i class="s2Cart"></i>
            </div>
        </div>

        <div class="g-top"></div>
    </div>

    <div class="section s3">
        <div style="height: 787px;overflow:hidden;">
            <div class="g-wrap" style="z-index: 100;">

                <img src="{G_UPLOAD_PATH}/app/s3-phone.jpg" alt="" width="277" height="570" class="s3Phone"/>
                <i class="bg s3Finger"></i>
                <img src="{G_UPLOAD_PATH}/app/s3-b2.jpg" alt="" width="240" height="429" class="s3b"/>
                <img src="{G_UPLOAD_PATH}/app/s3-l.png" alt="" width="246" height="300" class="s3l"/>
                <img src="{G_UPLOAD_PATH}/app/s3-r.png" alt="" width="148" height="149" class="s3r"/>
                <div class="s3Tag"></div>
                <img src="{G_UPLOAD_PATH}/app/s3-lphone.png" alt="" width="117" height="148" class="s3lphone"/>
                <img src="{G_UPLOAD_PATH}/app/s3-light.png" alt="" width="237" height="237" class="s3Light"/>
                <i class="s3i bg2 s3-1"></i>
                <i class="s3i bg2 s3-2"></i>
                <i class="s3i bg2 s3-3"></i>
                <i class="s3i bg2 s3-4"></i>
                <i class="s3i bg2 s3-5"></i>
                <i class="s3i bg2 s3-6"></i>
                <i class="s3i bg2 s3-7"></i>
                <i class="s3i bg2 s3-8"></i>
                <i class="s3i bg2 s3-9"></i>
                <i class="s3i bg2 s3-10"></i>
                <i class="s3i bg2 s3-11"></i>
                <i class="s3i bg2 s3-12"></i>
                <i class="s3i bg2 s3-13"></i>
            </div>
        </div>
        <div class="g-top"></div>
    </div>

    <div class="section s4">
        <div class="g-wrap">

            <img src="{G_UPLOAD_PATH}/app/s4-time-t.jpg" alt="" width="495" height="246" class="s4TimeT"/>
            <img src="{G_UPLOAD_PATH}/app/s4-time-b.jpg" alt="" width="495" height="148" class="s4TimeB"/>
            <i class="bg2 s4B"></i>
            <i class="bg2 s4F"></i>
            <i class="bg2 s4Q1"></i>
            <i class="bg2 s4Q2"></i>
            <div class="s4-wrap g-clear">
            <span>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
            </span>
            <span>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
            </span>
            <span>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
            </span>
            <span>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
            </span>
            <span class="s4-wrap1">
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
            </span>
            <span class="s4-wrap2">
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
            </span>
            <span class="s4-wrap3">
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
            </span>
            <span class="s4-wrap4">
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
                <i class="s4i bg2 s4-0"></i>
                <i class="s4i bg2 s4-1"></i>
                <i class="s4i bg2 s4-2"></i>
                <i class="s4i bg2 s4-3"></i>
                <i class="s4i bg2 s4-4"></i>
                <i class="s4i bg2 s4-5"></i>
                <i class="s4i bg2 s4-6"></i>
                <i class="s4i bg2 s4-7"></i>
                <i class="s4i bg2 s4-8"></i>
                <i class="s4i bg2 s4-9"></i>
            </span>
            </div>
            <i class="bg2 p2"></i>
            <i class="bg2 p3"></i>

            <i class="bg2 p1"></i>
            <i class="bg2 p3 p3-2"></i>
            <i class="bg2 p2 p2-2"></i>

            <i class="bg2 p3 p3-3"></i>
        </div>
        <div class="g-top"></div>
    </div>

    <div class="section s5">
        <div class="g-wrap">

            <img src="{G_UPLOAD_PATH}/app/s5-phone2.jpg" alt="" width="393" height="800" class="s5Phone"/>

            <img src="{G_UPLOAD_PATH}/app/s5-dt.png" alt="" width="484" height="92" class="s5Dt"/>
            <!--<img src="{G_UPLOAD_PATH}/app/s5-d.png" alt="" width="236" height="117" class="s5D"/>-->
            <img src="{G_UPLOAD_PATH}/app/s5-d-1.png" alt="" width="128" height="117" class="s5D"/>
            <img src="{G_UPLOAD_PATH}/app/s5-d-2.png" alt="" width="128" height="117" class="s5D s5D2"/>
            <img src="{G_UPLOAD_PATH}/app/s5-p.png" alt="" width="129" height="256" class="s5P"/>
            <img src="{G_UPLOAD_PATH}/app/s5-wt.png" alt="" width="311" height="83" class="s5Wt"/>
        </div>
       
        <div class="g-top"></div>
    </div>
</div>
<script>
	(function(){
		var eDiv = document.createElement("div"),
			kernel = ['ms','o','moz','webkit'];

		if('transition' in eDiv.style) {
			window.ltIE10 = false;
			return ; 
		}
		for(var i = 0,len = kernel.length;i<len;i++){
			var pro = '-' + kernel[i] + '-transition';
			if(pro in eDiv.style){
				window.ltIE10 = false;
				return ;
			}
		}
		window.ltIE10 = true;
	})();
</script>
<script src="{G_UPLOAD_PATH}/app/jquery-1.11.0.min.js"></script>
<script src="{G_UPLOAD_PATH}/app/base.js"></script>
<script src="{G_UPLOAD_PATH}/app/main.js"></script>


<!--[if lte IE 8]>
<script>
    var w = document.body.scrollWidth;
    var s1 = $(".s1");
    var s3 = $(".s3");
    window.lIE = true;
    $(".s1").css({background:"none"});
    $(".s3").css({background:"none"});

    var s1Bg = document.createElement("img");
    s1Bg.src = "{G_UPLOAD_PATH}/app/s1-bg.jpg";
    s1Bg.style.position = "absolute";
    s1Bg.style.left = "0";
    s1Bg.style.top = "0";
    s1Bg.style.width = w + "px";
    s1Bg.style.height = "100%";
    s1Bg.style.zIndex = "-1000";
    s1.append(s1Bg);

    var s3Bg = document.createElement("img");
    s3Bg.src = "{G_UPLOAD_PATH}/app/s3-bg.jpg";
    s3Bg.style.position = "absolute";
    s3Bg.style.left = "0";
    s3Bg.style.top = "0";
    s3Bg.style.width = w + "px";
    s3Bg.style.height = "100%";
    s3Bg.style.zIndex = "10";
    s3.append(s3Bg);


    window.onresize = function(){
        if(w !== document.body.scrollWidth){
            w = document.body.scrollWidth;
            s1Bg.style.width = w + "px";
            s1.append(s1Bg);
            s3Bg.style.width = w + "px";
            s3.append(s3Bg);
        }
    }
</script>
<![endif]-->
<!--[if IE 6]>
<script src="{G_UPLOAD_PATH}/app/DD_belatedPNG_0.0.8a-min.js"></script>
<script >
    DD_belatedPNG.fix('.bg,.bg2,img,.s2Com2,.s2Com1,.s2Phone,.s2Cart,input');
    var isIE6 = true;
</script>
<![endif]-->
</body>
</html>