{wc:templates "index","header"}
<style>
.mPic2 {
	background:#557218;
}
.mPic {
	width:980px;
	margin:0 auto;
}
.mPic li.pic1 {
	background:url({G_TEMPLATES_STYLE}/images/pic_20.jpg?v=1225) center no-repeat;
	height:112px;
}
.mPic li.pic2 {
	background:url({G_TEMPLATES_STYLE}/images/pic_21.jpg?v=1225) center no-repeat;
	height:118px;
}
.mPic li.pic3 {
	background:url({G_TEMPLATES_STYLE}/images/pic_22.jpg?v=1225) center no-repeat;
	height:100px;
	color:#aab391;
	padding-left:150px;
}
.mPic li.pic3 a {
	color:#aab391;
	text-decoration:underline;
}
.mPic li.pic3 a:hover {
	color:#C40000;
}
.mMode {
	width:941px;
	margin:0 auto;
	padding-bottom:35px;
	position:relative;
	top:30px;
}
.mMode li {
	width:941px;
	border-bottom:#eee 1px solid;
	display:inline-block;
	padding:50px 0 0;
}
.mMode li dd {
	float:left;
	margin-left:60px;
	display:inline-block;
	display:inline;
}
.mMode li dd img {
	display:block;
	margin:0;
	padding:0;
}
.mMode li dd.mt60 {
	margin-top:60px;
}

</style>
</head>
<body>
         <div class="mPic2">
         	<div class="mPic">
                <ul>
                    <li class="pic1"></li>
                    <li class="pic2"></li>
                    <li class="pic3">没有安装微信？ <a href="http://weixin.qq.com/" title="点击这里下载安装" target="_blank">点击这里下载安装>></a></li>
                </ul>
            </div>
         </div>
         <div class="tMain">
            <div class="mMode">
                <div class="tTitle">关注方式</div>
                <ul>
                    <li>
                        <dd><img src="{G_TEMPLATES_STYLE}/images/pic_23.jpg" /></dd>
                        <dd class="mt60"><img src="{G_TEMPLATES_STYLE}/images/pic_24.jpg" /></dd>
                    </li>
                    <li>
                        <dd class="mt60"><img src="{G_TEMPLATES_STYLE}/images/pic_25.jpg" /></dd>
                        <dd><img src="{G_TEMPLATES_STYLE}/images/pic_26.jpg" /></dd>
                    </li>
                    <li>
                        <dd><img src="{G_TEMPLATES_STYLE}/images/pic_27.jpg" /></dd>
                        <dd class="mt60"><img src="{G_TEMPLATES_STYLE}/images/pic_28.jpg" /></dd>
                    </li>
                </ul>
            </div>
      </div>
</div>
   
{wc:templates "index","footer"}
